{% extends "Buyer/buyerFrame.html" %}

{% block style %}

.para {
    margin-top: 6%; 
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px auto;
    max-width: 1200px;
    padding: 0 20px;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom:0px;
  }
  
  .left-column, .middle-column, .right-column {
    flex-basis: 32%;
    max-width: 30%;
    margin-bottom:0px;
  }

  .middle-column {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .left-column, .middle-column, .right-column {
      flex-basis: 100%;
      max-width: 100%;
    }
}

form {
    width: 100%;
}

form div {
    width: 100%;
}

span {
    display: block;
    color: rgb(71, 71, 71);
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: 500;
}

input {
    width: 92%;
    padding: 12px;
    border: 1.5px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.2s;
} 

select {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.2s;
}

input:focus,
select:focus{
    outline: none;
    border-color: rgba(68, 61, 255, 0.5);
    border-width: 1.5px;
}

input:hover,
select:hover {
    border-color: rgba(68, 61, 255, 0.5);
    border-width: 1.5px;
    background-color: rgba(222, 220, 255, 0.1); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.button {
    width: 60%;
    height:45px;
    padding: 12px 15px;
    background: #000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background: #333;
}

input::placeholder {
    color: #999;
}

.result-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    margin: 0px 50px;
    max-width: 1600px;
    margin-left:80px;
    margin-top:0px;
}

.box {
    margin:30px;
    width: 260px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0px 1px 5px rgba(192, 192, 192, 0.5);
}

.box:hover {
    background-color: rgba(222, 220, 255, 0.15);
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: rgb(47, 39, 206);
}

.price span {
    display: inline-block;
}

.icon-text {
    font-family: 'Times New Roman', Times, serif;
    display: inline-flex;
    align-items: center; 
    gap: 13px; 
    margin: 0; 
    font-size: 1.2rem;
    font-weight: bold; 
    color: #000;
}

.icon-text img {
    height: 25px;
}

.message {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: #FDE8E8;
    color: #9B1C1C;
}

{% endblock style %}

{% block content %}
<div class="para">
    <p style="margin-bottom: 10px;">Search Used Car Listings</p>
</div>
<form action="{{ url_for('buyer_blueprint.searchBuyerShortList') }}" method="POST" >
    <div class="top-container">
        <section class="left-column"> 
            <span for="field">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By: &nbsp;&nbsp;
                <select class="field" style="width: 55%;" id="field" name="field" onchange="updateInputField()">
                    <option value="">Select Field</option>
                    <option value="car_type">Car Type</option>
                    <option value="brand">Brand</option>
                    <option value="model">Model</option>
                    <option value="price">Price</option>
                    <option value="agent_username">Agent's Username</option>
                </select>
            </span>
        </section>
        <section class="middle-column">
            <div id="input-container" name="target">

            </div>
        </section>
        <section class="right-column">
            <button type="submit" class="button">Search</button>
        </section>
    </div>

    <div class="result-container">
        {% if message %}
            <p class="message">
                {{ message }}
            </p>
        {% endif %}
        {% if cars_info %}
        {% for car in cars_info %}
        <div class="box">
            <p class="price">
                {% if car.car_status == 0 %}
                    <span style="text-decoration: line-through red;">${{ car.price }}</span>
                    <span style="color: red; margin-left: 10px;">  Sold</span>
                {% else %}
                    ${{ car.price }}
                {% endif %}
            </p>
            <p class="icon-text" style="margin: 0px;"><img src="{{ url_for('static', filename='car.png') }}" alt="car">{{ car.brand }} {{ car.model }}</p>
            <p>Car ID: {{ car.car_id }}</p>
            <p>Car Type: {{ car.car_type }}</p>
            <p>Year: {{ car.year }}</p>
            <p>Fuel Type: {{ car.fuel_type }}</p>
            <p>Mileage: {{ car.mileage }}</p>
            <p>Transmission: {{ car.transmission }}</p>
            <p>Engine Size: {{ car.engine_size }}L</p>
            <p>Description: {{ car.description }}</p>
            <p>View: {{ car.view }}</p>
            <p>Shortlisted: {{ car.shortlisted }}</p>
            <p>Agent Username: {{ car.agent_username }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</form>
<div><br><br><br><br></div>
<script>
    function updateInputField() {
        const fieldSelect = document.getElementById('field');
        const inputContainer = document.getElementById('input-container');
        
        inputContainer.innerHTML = '';
    
        if (fieldSelect.value === 'car_type') {
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Enter car type...';
            input.id = 'target';
            input.name = 'target';  
            input.required = true;
            inputContainer.appendChild(input);
            
        } else if (fieldSelect.value === 'brand') {
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Enter brand...';
            input.id = 'target';
            input.name = 'target';  
            input.required = true;
            inputContainer.appendChild(input);
    
        } else if (fieldSelect.value === 'model') {
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Enter car model...';
            input.id = 'target';
            input.name = 'target';  
            input.required = true;
            inputContainer.appendChild(input);
            
         } else if (fieldSelect.value === 'price') {
            const select = document.createElement('select');
            select.id = 'target';
            select.name = 'target';
            select.required = true;
    
            const defaultOption = document.createElement('option');
            defaultOption.value = "";
            defaultOption.textContent = "Select highest price...";
            select.appendChild(defaultOption);
    
            const prices = [
                {display: "$300,000", value: "300000"},
                {display: "$280,000", value: "280000"},
                {display: "$260,000", value: "260000"},
                {display: "$240,000", value: "240000"},
                {display: "$220,000", value: "220000"},
                {display: "$200,000", value: "200000"},
                {display: "$180,000", value: "180000"},
                {display: "$160,000", value: "160000"},
                {display: "$150,000", value: "150000"},
                {display: "$140,000", value: "140000"},
                {display: "$130,000", value: "130000"},
                {display: "$120,000", value: "120000"},
                {display: "$110,000", value: "110000"},
                {display: "$100,000", value: "100000"},
                {display: "$90,000", value: "90000"},
                {display: "$80,000", value: "80000"},
                {display: "$70,000", value: "70000"},
                {display: "$60,000", value: "60000"},
                {display: "$50,000", value: "50000"},
                {display: "$45,000", value: "45000"},
                {display: "$40,000", value: "40000"},
                {display: "$35,000", value: "35000"},
                {display: "$30,000", value: "30000"},
                {display: "$25,000", value: "25000"},
                {display: "$20,000", value: "20000"},
                {display: "$15,000", value: "15000"},
                {display: "$10,000", value: "10000"}
            ];
    
            prices.forEach(price => {
                const option = document.createElement('option');
                option.value = price.value; 
                option.textContent = price.display; 
                select.appendChild(option);
            });
    
            inputContainer.appendChild(select);
            
        } else if (fieldSelect.value === 'agent_username') {
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Enter agent username...';
            input.id = 'target';
            input.name = 'target'; 
            input.required = true;
            input.oninput = function() { 
                this.value = this.value.toLowerCase(); 
            };
            inputContainer.appendChild(input);
            
        } else if (fieldSelect.value === '') {
            const input = document.createElement('input');
            input.type = 'text';
            input.placeholder = 'Please select field...';
            input.id = 'target';
            input.name = 'target';  
            input.disabled = true;
            inputContainer.appendChild(input);
        }
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        updateInputField();
    });
    </script>

{% endblock content %}