{% extends "Buyer/buyerFrame.html" %}

{% block style %}

.para {
    margin-top: 6%; 
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    margin: 0px 80px;
}

.box {
    margin:30px;
    width: 260px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0px 1px 5px rgba(192, 192, 192, 0.5);
}

.box:hover {
    background-color: rgba(222, 220, 255, 0.15);
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: rgb(47, 39, 206);
}

.price span {
    display: inline-block;
}

.icon-text {
    font-family: 'Times New Roman', Times, serif;
    display: inline-flex;
    align-items: center; 
    gap: 13px; 
    margin: 0; 
    font-size: 1.2rem;
    font-weight: bold; 
    color: #000;
}

.icon-text img {
    height: 25px;
}

.view-button {
    margin-top:2%;
    width: 40%;
    padding: 8px 12px;
    background: rgb(30, 30, 148);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom:8px;
}

.view-button {
    margin-left: 3px;
    margin-right: 40px;
}


.view-button:hover{
    background: #000;
}

.message {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    background-color: #FDE8E8;
    color: #9B1C1C;
}

{% endblock style %}

{% block content %}

<div class="para">
    <p style="margin-bottom: 10px;">All Used Car Listings</p>
</div>

<section class="container">
    {% if message %}
        <p class="message">
            {{ message }}
        </p>
    {% endif %}
    {% for car in cars_info %}
    <div class="box">
        <p class="price">${{ car.price }}</p>
        <p class="icon-text" style="margin: 0px;"><img src="{{ url_for('static', filename='car.png') }}" alt="car">{{ car.brand }} {{ car.model }}</p>
        <p>Car Type: {{ car.car_type }}</p>
        <p>Agent Username: {{ car.agent_username }}</p>
        <div>
            <button class="view-button" onclick="window.location.href='/buyer_cd?car_id={{ car.car_id }}'">View Details</button>
        </div>
    </div>
    {% endfor %}
</section>

<div><br><br><br><br></div>

{% endblock content %}