{% extends "Seller/sellerFrame.html" %}

{% block style %}

.para {
    margin-top: 12%; 
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
}

.box {
    flex: 0 0 19%;
    background-color: rgba(222, 220, 255, 0.3);
    padding: 40px;
    margin: 30px;
    flex-direction: box;
    align-items: center;
    text-align: center;
    border-radius: 10px; 
    border: none; 
    margin-top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.box img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
    margin-top:10px
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 16.5px;
}

button[class="box"]:hover {
    border: 2px solid rgba(67, 59, 255, 0.3);
}

{% endblock style %}

{% block content %}

<div class="para">
    <p>Seller</p>
</div>

<div class="container">
    
    <button class="box" onclick="window.location.href='/seller_view_car'">
        <img src="{{ url_for('static', filename='view.png')}}" alt="Image">
        <h4>View All My</h4>
        <h4>Used Car Listings</h4>
    </button>

    <button class="box" onclick="window.location.href='/seller_feedback'">
        <img src="{{ url_for('static', filename='Feedback.png')}}" alt="Image">
        <h4>View</h4>
        <h4>Used Car Agent Feedback</h4>
    </button>

    <button class="box" onclick="window.location.href='/seller_search_car'">
        <img src="{{ url_for('static', filename='search.png')}}" alt="Image">
        <h4>Search My</h4>
        <h4>Used Car Listing</h4>
    </button>
    
</div>

{% endblock content %}